<!DOCTYPE html>

<html>

	<head>
		<title>Vote for things!</title>
		
		<link href="/public/css/main.css" rel="stylesheet" type="text/css">
		<link href="/public/css/poll.css" rel="stylesheet" type="text/css">
		<script src="https://code.jquery.com/jquery-2.2.0.min.js"></script>
	</head>

	<header><% include nav.ejs %></header>
	
	<body>
		<div class="container">
			<div class="half">
				<h1 id="title"></h1>
				<form id="vote">
						
				    <label for="option">Vote:</label><br>
				    <select name="option" id="dropdown">
				    	<option selected="selected" disabled="disabled">Vote for an option</option>
				    	<% for(var i=0; i<options.length; i++) {%>
	   						<option value='<%= options[i].option %>'><%= options[i].option %></option>
						<% } %>
						<option value="other">Other</option>
				    </select><br>
					    
				    <div id="otherfield">
				    	<label for="other">Enter your own value:</label>
				    	<input type="text" name="other">
				    </div>
				    
				    <br>
				    <input type="submit" value="vote!">
					    
				</form>
				<div id="message"></div>
			</div>
			<div id="results" class="half">
				<h2>Results</h2>
				<table>
					<tr>
						<th>Option</th>
						<th>Votes</th>
					</tr>
					<% for(var i=0; i<orderedOptions.length; i++) {%>
	   					<tr>
	   						<td><%= orderedOptions[i].option %></td>
	   						<td><%= orderedOptions[i].numVotes %></td>
	   					</tr>
					<% } %>
				</table>
			</div>
		</div>
		<% if (isAuthed) { %>
			<div class="container" id="auth-options">
				<!-- Facebook share button code -->
				<div id="fb-root"></div>
				<script>(function(d, s, id) {
				  var js, fjs = d.getElementsByTagName(s)[0];
				  if (d.getElementById(id)) return;
				  js = d.createElement(s); js.id = id;
				  js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.7";
				  fjs.parentNode.insertBefore(js, fjs);
				}(document, 'script', 'facebook-jssdk'));</script>
				<div class="fb-share-button" 
					data-href="https://fcc-voting-app-stephwang.c9users.io/poll/<%= pollid %>" 
					data-layout="button" data-mobile-iframe="true">
					<a class="fb-xfbml-parse-ignore" target="_blank" href="https://www.facebook.com/sharer/sharer.php?u=https%3A%2F%2Ffcc-voting-app-stephwang.c9users.io%2Fpoll%2F<%= pollid %>&amp;src=sdkpreparse">
						Share
					</a>
				</div>
			
				<!-- Delete poll -->
				<div id="delete">
					<a href="/delete/<%= options[0].pollId %>">Delete poll</a>
				</div>
			</div>
		<% } %>
		
		<script type="text/javascript" src="../common/ajax-functions.js"></script>
		<script type="text/javascript" src="../controllers/userController.client.js"></script>
		<script type="text/javascript" src="../controllers/pollPageController.client.js"></script>
	</body>

</html>